include src/pysme/dll/sme_synth.so.*
include src/pysme/dll/vcsbalmer.dat
include src/pysme/dll/stehle_long.dat.INTEL
include src/pysme/dll/bpo_self.grid.INTEL
include src/pysme/dll/Fe1_Bautista2017.dat.INTEL
include src/pysme/dll/NH_Stancil2018.dat.INTEL

include src/pysme/datafiles_atmospheres.json
include src/pysme/datafiles_nlte.json

include src/pysme/linelist/VALD3_ref.bib

include versioneer.py
include src/pysme/_version.py
