include src/pysme/lib/*
include src/pysme/bin/*
include src/pysme/share/libsme/*

include src/pysme/datafiles_atmospheres.json
include src/pysme/datafiles_nlte.json

include src/pysme/linelist/VALD3_ref.bib

include versioneer.py
include src/pysme/_version.py
