include src/sme/dll/sme_synth.so.*

include src/sme/dll/stehle_long.dat.INTEL
include src/sme/dll/vcsbalmer.dat
include src/sme/dll/bpo_self.grid.INTEL

include src/sme/datafiles_atmospheres.yaml
include src/sme/datafiles_nlte.yaml

include test/testatmo1.krz
include test/testcase1.bib
include test/testcase1.inp
include test/testcase1.lin
include versioneer.py
include src/sme/_version.py
